@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #655dad;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius:20px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div > h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login > div > p{
    font-size: 0.8em;
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../img/imagem.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding:10px;
}

.campo{
    background-color: #5f2c82;
    border-radius: 10px;
    margin: 5px 0px;
    border: 1px solid black;
}

.enviar{
    display: block;
    background-color: #655dad;
    color: white;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    margin-top: 5px ;
    cursor: pointer;
    transition: .5s;
}

.enviar:hover{
    background-color: #5f2c82;
    border: 1px solid black;
}

.e-senha{
    display: block;
    background-color: #806e8b;
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-top: 5px;
    padding-top: 8px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    text-align: center;
    transition: .5s;
}

.e-senha:hover{
    background-color: #45425f;
}